---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import PostGrid from '../components/PostGrid.astro';
import Pagination from '../components/Pagination.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

const allPosts = (await getCollection('blog')).sort(
	(a, b) => (b.data.pubDate?.valueOf() || 0) - (a.data.pubDate?.valueOf() || 0),
);

const pageSize = 9;
const currentPage = 1;
const totalPages = Math.ceil(allPosts.length / pageSize);
const startIndex = (currentPage - 1) * pageSize;
const endIndex = startIndex + pageSize;
const posts = allPosts.slice(startIndex, endIndex);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<Container>
		<section>
			<PostGrid posts={posts} />
			<Pagination 
				currentPage={currentPage} 
				totalPages={totalPages}
				getPageUrl={(pageNum) => pageNum === 1 ? '/' : `/${pageNum}`}
			/>
		</section>
	</Container>
</BaseLayout>
